<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.leiguoguo.alfred-splitscreen-workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>036DE2BA-9893-47B9-996C-3A5E3DF8FB80</key>
		<array/>
		<key>03CCC218-95A5-40AD-913C-4F66839CE1C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D82340D-F50C-4857-B445-A499F1C9891F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27F08F55-2D5F-4E53-BF77-27878302C6D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84A1C486-DF9F-495C-85BB-F32412E69DA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D35753B-4D9D-4419-8807-FA6A73A8035A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27F08F55-2D5F-4E53-BF77-27878302C6D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A6D90818-44FC-4A25-BA55-FB1562FE3EA4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C184706-047A-4D86-BF44-BAA854652F08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3146429E-E982-459C-9F03-46287E68875A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41936F3B-398F-42BF-956D-645701C2B0E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F27558DF-F128-4581-9BA5-BACDE1055CCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5000C6EF-CACC-4EC8-89F6-12A780FD85E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85D4F0BC-7BB0-40B2-81D6-035C00517FD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D82340D-F50C-4857-B445-A499F1C9891F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41936F3B-398F-42BF-956D-645701C2B0E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>844DB6D7-54D1-48B4-BB99-F1F62D3CB304</key>
		<array/>
		<key>84A1C486-DF9F-495C-85BB-F32412E69DA9</key>
		<array/>
		<key>85D4F0BC-7BB0-40B2-81D6-035C00517FD3</key>
		<array/>
		<key>9B45D2CC-A0DC-4841-ACE4-D7F82315B5EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D35753B-4D9D-4419-8807-FA6A73A8035A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C55AD827-A76D-4FB3-A4F7-B2050F79BB7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B45D2CC-A0DC-4841-ACE4-D7F82315B5EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCDCCFEF-47C6-4DB6-9DBA-4351F60B95E6</key>
		<array/>
		<key>E3A00973-AF33-448E-AC1C-7141F8D4F97A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D82340D-F50C-4857-B445-A499F1C9891F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA96B5ED-2DC9-4B22-BAAD-822B5D2C1BA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>844DB6D7-54D1-48B4-BB99-F1F62D3CB304</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F27558DF-F128-4581-9BA5-BACDE1055CCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C55AD827-A76D-4FB3-A4F7-B2050F79BB7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F313644E-9D5D-48D9-BD4C-C0074F8B69B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5D8616D-1AD5-4DAC-BFF0-2780F6B4BB39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCDC7026-4BA5-49B0-97DD-8E546F2D882E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCDCCFEF-47C6-4DB6-9DBA-4351F60B95E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>leiguoguo</string>
	<key>description</key>
	<string>SplitScreen</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SplitScreen</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mc</string>
				<key>subtext</key>
				<string>move current x y</string>
				<key>text</key>
				<string>move current x y</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5000C6EF-CACC-4EC8-89F6-12A780FD85E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>move current {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>85D4F0BC-7BB0-40B2-81D6-035C00517FD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mo</string>
				<key>subtext</key>
				<string>move other x y</string>
				<key>text</key>
				<string>move other x y</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FCDC7026-4BA5-49B0-97DD-8E546F2D882E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>move other {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DCDCCFEF-47C6-4DB6-9DBA-4351F60B95E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>resize</string>
				<key>subtext</key>
				<string>reisze widht height</string>
				<key>text</key>
				<string>reisze widht height</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA96B5ED-2DC9-4B22-BAAD-822B5D2C1BA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>resize current {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>844DB6D7-54D1-48B4-BB99-F1F62D3CB304</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pshow</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./split-screen.sh show current {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>pshow predefined-name</string>
				<key>title</key>
				<string>pshow predefined-name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>036DE2BA-9893-47B9-996C-3A5E3DF8FB80</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./split-screen.sh {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5D8616D-1AD5-4DAC-BFF0-2780F6B4BB39</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pdef</string>
				<key>subtext</key>
				<string>pdef name x y w h</string>
				<key>text</key>
				<string>defined new split-screen config</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F313644E-9D5D-48D9-BD4C-C0074F8B69B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_screen</key>
					<string>next</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.screen.change</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>27F08F55-2D5F-4E53-BF77-27878302C6D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>height</key>
					<string>{var:bounds4}</string>
					<key>width</key>
					<string>{var:bounds3}</string>
					<key>x</key>
					<string>{var:bounds1}</string>
					<key>y</key>
					<string>{var:bounds2}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.custom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>84A1C486-DF9F-495C-85BB-F32412E69DA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./split-screen.sh show main "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E3A00973-AF33-448E-AC1C-7141F8D4F97A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 split-screen.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C55AD827-A76D-4FB3-A4F7-B2050F79BB7A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>41936F3B-398F-42BF-956D-645701C2B0E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:bounds5}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>move_window</string>
						<key>outputlabel</key>
						<string>move_window</string>
						<key>uid</key>
						<string>A6D90818-44FC-4A25-BA55-FB1562FE3EA4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:bounds5}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>dont_move</string>
						<key>outputlabel</key>
						<string>dont_move</string>
						<key>uid</key>
						<string>3146429E-E982-459C-9F03-46287E68875A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3D35753B-4D9D-4419-8807-FA6A73A8035A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input_action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6D82340D-F50C-4857-B445-A499F1C9891F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>current_bounds</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F27558DF-F128-4581-9BA5-BACDE1055CCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>bounds</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>9B45D2CC-A0DC-4841-ACE4-D7F82315B5EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>height</key>
					<string>{var:bounds4}</string>
					<key>width</key>
					<string>{var:bounds3}</string>
					<key>x</key>
					<string>{var:bounds1}</string>
					<key>y</key>
					<string>{var:bounds2}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.custom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0C184706-047A-4D86-BF44-BAA854652F08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./split-screen.sh show dual "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>03CCC218-95A5-40AD-913C-4F66839CE1C1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Split focused window in screen</string>
	<key>uidata</key>
	<dict>
		<key>036DE2BA-9893-47B9-996C-3A5E3DF8FB80</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1390</real>
		</dict>
		<key>03CCC218-95A5-40AD-913C-4F66839CE1C1</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1935</real>
		</dict>
		<key>0C184706-047A-4D86-BF44-BAA854652F08</key>
		<dict>
			<key>xpos</key>
			<real>1395</real>
			<key>ypos</key>
			<real>1895</real>
		</dict>
		<key>27F08F55-2D5F-4E53-BF77-27878302C6D8</key>
		<dict>
			<key>xpos</key>
			<real>1390</real>
			<key>ypos</key>
			<real>1705</real>
		</dict>
		<key>3D35753B-4D9D-4419-8807-FA6A73A8035A</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>1840</real>
		</dict>
		<key>41936F3B-398F-42BF-956D-645701C2B0E8</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>1820</real>
		</dict>
		<key>5000C6EF-CACC-4EC8-89F6-12A780FD85E0</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>6D82340D-F50C-4857-B445-A499F1C9891F</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>1850</real>
		</dict>
		<key>844DB6D7-54D1-48B4-BB99-F1F62D3CB304</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>84A1C486-DF9F-495C-85BB-F32412E69DA9</key>
		<dict>
			<key>xpos</key>
			<real>1565</real>
			<key>ypos</key>
			<real>1705</real>
		</dict>
		<key>85D4F0BC-7BB0-40B2-81D6-035C00517FD3</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>9B45D2CC-A0DC-4841-ACE4-D7F82315B5EE</key>
		<dict>
			<key>xpos</key>
			<real>1150</real>
			<key>ypos</key>
			<real>1850</real>
		</dict>
		<key>C55AD827-A76D-4FB3-A4F7-B2050F79BB7A</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>1820</real>
		</dict>
		<key>C5D8616D-1AD5-4DAC-BFF0-2780F6B4BB39</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>1550</real>
		</dict>
		<key>DCDCCFEF-47C6-4DB6-9DBA-4351F60B95E6</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>E3A00973-AF33-448E-AC1C-7141F8D4F97A</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1715</real>
		</dict>
		<key>EA96B5ED-2DC9-4B22-BAAD-822B5D2C1BA2</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>F27558DF-F128-4581-9BA5-BACDE1055CCF</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>1850</real>
		</dict>
		<key>F313644E-9D5D-48D9-BD4C-C0074F8B69B5</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1550</real>
		</dict>
		<key>FCDC7026-4BA5-49B0-97DD-8E546F2D882E</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/goosman-lei/alfred-splitscreen-workflow</string>
</dict>
</plist>
